NODE_ENV=development
VITE_PORT=3000

# Database Local
VITE_DB_URL=

# Database Deployed
VITE_DB_HOST=
VITE_DB_NAME=
VITE_DB_USERNAME=
VITE_DB_PASSWORD=

# Image Uploads
VITE_AWS_REGION=
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
VITE_S3_BUCKET=
VITE_UPLOAD_DIR=uploads/

# Image Optimization
## API key for https://tinypng.com/developers
VITE_OPTIMIZE_API_KEY=
VITE_OPTIMIZE_IMAGES=true # true/false (default: true)
## Max width or height of the image in pixels. If one is larger, that side will be resized to this value.
VITE_OPTIMIZE_IMAGE_MAX_DIMENSION=1024 # default: 1024

### Auth ###
VITE_TOKEN_USERNAME=
VITE_TOKEN_PASSWORD=
VITE_TOKEN_SECRET=

### Feedback ###
VITE_EMAIL_USER=
VITE_EMAIL_PASSWORD=
# Email address where the message result should be delivered.
VITE_FEEDBACK_EMAIL_TO=
# From email address, in case your server prohibits sending emails from addresses other than those
# of your own domain (e.g. email@yourdomain.com). If this is used then all email messages from your
# contact form will appear from this address instead of actual sender.
VITE_FEEDBACK_EMAIL_FROM=
VITE_FEEDBACK_EMAIL_SUBJECT="Butcher's Market Contact"
VITE_RECAPTCHA_KEY=
