NODE_ENVIRONMENT=development
DB_STORAGE=./butcher.sqlite3
PORT=3000
UPLOAD_DIR=../butchers-market/public/uploads

### Auth ###
TOKEN_USERNAME=
TOKEN_PASSWORD=
TOKEN_SECRET=

### Feedback ###
# Email address where the message result should be delivered.
FEEDBACK_EMAIL_TO=
# From email address, in case your server prohibits sending emails from addresses other than those
# of your own domain (e.g. email@yourdomain.com). If this is used then all email messages from your
# contact form will appear from this address instead of actual sender.
FEEDBACK_EMAIL_FROM=
FEEDBACK_EMAIL_SUBJECT="Butcher's Market Contact"
RECAPTCHA_KEY=
