module.exports = {
  apps: [
    {
      name: "API",
      script: "index.js",

      // Options reference: https://pm2.keymetrics.io/docs/usage/application-declaration/
      //args: 'one two',
      //instances: 1,
      autorestart: true,
      watch: false,
      //max_memory_restart: '1G',
      env: {
        NODE_ENV: "development"
      },
      env_production: {
        NODE_ENV: "production",
        DB_STORAGE: "../db/butcher.sqlite3",
        PORT: 3000,
        UPLOAD_DIR: "../uploads",
        FEEDBACK_EMAIL_FROM: "drew@thebutchersmarket.com",
        FEEDBACK_EMAIL_TO: "thebutchersmarket@gmail.com",
        FEEDBACK_EMAIL_SUBJECT: "Butcher Contact",
        RECAPTCHA_KEY: "",
        TOKEN_USERNAME: "",
        TOKEN_PASSWORD: "",
        TOKEN_SECRET: ""
      }
    }
  ]
};
